Modules = [“nodejs-24”， “python-3.11”]  

[部署]  
router = “应用程序”  
deploymentTarget = “自动缩放”  

[deployment.postBuild]  
args = [“pnpm”， “store”， “prune”]  
env = { “CI” = “true” }

[工作流程]  
runButton = “项目”  

[特工]  
stack = “PNPM_WORKSPACE”  
expertMode =  真  

[合并后]  
路径  = “脚本/post-merge.sh”  
暂停时间 Ms = 20000  
