Modules = [“nodejs-24”， “postgresql-16”]  

[部署 ]    
router = “应用程序”  
deploymentTarget = “自动缩放”  

[deployment.postBuild]      
args = [“pnpm”， “store”， “prune”]  
env = { “CI” = “true” }  

[工作流程]  
runButton = “项目”  

[特工]  
stack = “PNPM_WORKSPACE”  
expertMode =  真  

[合并后]  
路径  = “脚本/post-merge.sh”  
暂停时间 Ms = 20000  

[[港口]]  
localPort = 8080      
externalPort = 8080      

[[港口]]  
localPort = 8081      
externalPort = 80      

[[港口]]  
localPort = 20108      
externalPort = 3000      

[不行]  
频道  = “稳定-25_05”  
